
<table  *ngIf="members">
    <tr><th>Nom</th><th>Prenom</th><th>Email</th><th>Photo</th><th>CV</th></tr>
    <tr *ngFor="let member of members">
        <td>{{member.nom}}</td>
        <td>{{member.prenom}}</td>
        <td>{{member.email}}</td>
        <td>{{member.photo}}</td>
        <td>{{member.cv}}</td>
    </tr>
</table>
