<table class="table table-striped" *ngIf="members">
    <tr>
      <th>Nom</th><th>Prenom</th><th>Email</th><th>Photo</th><th>CV</th><th>Telephone</th>
    </tr>
    <tr *ngFor="let member of members">
        <td>{{member.nom}}</td>
        <td>{{member.prenom}}</td>
        <td>{{member.email}}</td>
        <td>{{member.photo}}</td>
        <td>{{member.cv}}</td>
        <td>{{member.tel}}</td>

        
        <td *ngIf="isAuthenticated() && isAdmin()"><button (click)="onEdit(member)" class="btn btn-sm btn-danger">
        <span class="fa fa-edit"></span>
        </button></td>
        <td *ngIf="isAuthenticated() && isAdmin()"><button (click)="onDelete(member.id)"  class="btn btn-sm btn-danger">
            <span class="fa fa-trash"></span>
            </button></td>
    </tr>

  </table>