<div class="container" *ngIf="memberFormGroup">
    <form [formGroup]="memberFormGroup">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="name"
               [ngClass]="{'is-invalid':submitted && memberFormGroup.controls.name.errors}">
        <div class="invalid-feedback" *ngIf="submitted && memberFormGroup.controls.name.errors">
          <div  *ngIf="submitted && memberFormGroup.controls.name.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password"[ngClass]="{'is-invalid':submitted && memberFormGroup.controls.name.errors}">
        <div class="invalid-feedback" *ngIf="submitted && memberFormGroup.controls.password.errors">
          <div  *ngIf="submitted && memberFormGroup.controls.password.errors.required">Confirm your password</div>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm password</label>
        <input type="password" class="form-control" formControlName="confirmedPassword"  [ngClass]="{'is-invalid':submitted && memberFormGroup.controls.name.errors}" >
        <div class="invalid-feedback" *ngIf="submitted && memberFormGroup.controls.confirmedPassword.errors">
            <div  *ngIf="submitted && memberFormGroup.controls.confirmedPassword.errors.required">Confirm your password</div>
          </div>
    </div>
      <div *ngIf="errorMessage">{{errorMessage}}</div>
      <button class="btn btn-success" (click)="onSave()">Save</button>
    </form>
  </div>