<div class="container col-md-9">
    <div class="card">
        <div class="card-header">Authentification</div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input type="text" name="username" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" name="password" ngModel class="form-control">
                </div>
                <button class="btn btn-primary">Submit</button>
                <a class="nav-link"  routerLink="/register">Register</a>
            </form>
        </div>
      
      </div>
</div>
