<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand">Laboratoire</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    

    
  </ul>
  <div class="nav navbar-nav ml-auto">
    <a class="nav-link" *ngIf="!isAuthenticated()"  routerLink="Login">Login</a>
<!-- Dropdown -->

    <a class="nav-link" *ngIf="isAuthenticated()" routerLink="edit-profile" >Edit profile</a>
    <a class="nav-link" *ngIf="isAuthenticated()" (click)="logout()" >Logout</a>


</div>
 
</nav>
<div class="container">
  <div class="row">
    <div class="col-2">
      <p><a routerLink="/etudiants">Etudiants</a></p>
      <p><a routerLink="/enseignants">Enseignats</a></p>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>